
article {
	background: var(--white-color);
	padding: 2em 0;
	border-bottom: 2px solid var(--gray);
}

article:last-child {
	border-bottom: none;
}

article summary p,
article footer strong {
	color: var(--blue-darkest);
}
/* header */
article header h5 {
	font-weight: bolder;
	margin: 1em 0;
}
article header .badge {
  padding: .375em .625em;
  background: var(--blue);
  color: var(--white);
  font-size: medium;
  font-weight: normal;
  border-radius: var(--default-radius);
  margin-right: 1em;
  cursor: pointer;
}
article header img {
  cursor: pointer;
}

/* summary */
article summary {
	margin: 0 0 0.875em 0;
}
article summary ul {
	list-style: none;
	padding-left: 0;
}
article summary ul li {
	margin-bottom: 1em;
	font-weight: normal;
}
article summary ul li img {
	margin-right: 0.5em;
}
/* footer */
article footer time {
	color: var(--blue-dark);
	display: block;
}

