

main {
	padding-top: 1em;
}

main > header {
	padding: 3em 0;
}

main > header h1,
main > header h4 {
	color: var(--white);
	text-shadow: 0 0.125em 0.125em 0 var(--text-shadow);
}

section {
	background: var(--white);
	padding: 2.5em 1.875em;
	border-radius: var(--default-radius);
	box-shadow: 0 0.125em 0.25em 0 var(--box-shadow);

}
section > h2{
	font-weight: bolder;
}